#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };

        // --- 最終修正：Scalerではなく専用プロセッサを使用 ---

        zip_no_mouse: zip_no_mouse {
            compatible = "zmk,input-processor-scaler"; // ★ココを変更！
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_X>, <INPUT_REL_Y>;

            // 移動量を0にする役割に徹する
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        COMBO_ESC {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            timeout-ms = <50>;
            layers = <0>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        sensor_rotate_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_wheel_scroll: mouse_wheel_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        // --- 追加：トラックボール・ジェスチャーの定義 ---
        // --- ① behaviorsセクション：感度を爆上げ ---
        // ... (lt_to_layer_0, sensor_rotate_kp, mouse_wheel_scroll は変更なし) ...
        // --- 修正：トラックボール・ジェスチャーの定義 ---

        tb_web: tb_web {
            compatible = "zmk,behavior-input-two-axis-as-key";
            #binding-cells = <0>;
            threshold = <500>; // ★500に戻して誤爆を防止！
            bindings =
                <&kp LC(LS(TAB))>,
                // 左: 前タブ,,,,,,,,
                <&kp LC(TAB)>,
                // 右: 次タブ,,,,,,,,
                <&kp LC(W)>,
                // 下: 閉じる,,,,,,,,
                <&kp LC(T)>;

            // 上: 新規タブ
            // 修正案：直感に合わせて順序を入れ替えました
            // 左(前), 右(次), 下(閉), 上(新)
        };

        tb_undo: tb_undo {
            compatible = "zmk,behavior-input-two-axis-as-key";
            #binding-cells = <0>;
            threshold = <500>; // ★ここも500へ
            // 右上に弾いた時だけ「閉じたタブを戻す」
            // 順序：上, 下, 左, 右

            bindings = <&kp LC(LS(T))>, <&none>, <&none>, <&none>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R         &kp T                                                     &kp Y        &kp U  &lt 5 I    &lt 5 O  &lt 8 P
&kp A             &kp S         &kp D         &kp F         &kp G        &kp LS(LG(S))               &kp BACKSPACE    &kp H        &kp J  &kp K      &kp L    &kp MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V         &kp B        &kp SINGLE_QUOTE            &kp SEMICOLON    &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt 10 LANG2  &lt 2 SPACE  &lt_to_layer_0 3 LANG1      &lt 7 BACKSPACE  &lt 1 ENTER                             &lt 6 DEL
            >;

            sensor-bindings = <&inc_dec_kp LC(MINUS) LC(LS(SEMICOLON))>;
        };

        layer_1 {
            bindings = <
&trans                     &kp LS(NUMBER_6)  &kp LS(SINGLE_QUOTE)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)                      &trans  &kp RIGHT_BRACKET      &kp NON_US_HASH      &trans           &trans
&kp LS(NUMBER_7)           &kp DOLLAR        &kp PERCENT           &kp EQUAL         &trans            &trans      &trans  &trans  &kp LS(NUMBER_8)       &kp LS(NUMBER_9)     &kp INT_YEN      &trans
&mt LEFT_SHIFT LS(INT_RO)  &kp EXCLAMATION   &kp LEFT_BRACKET      &kp HASH          &trans            &trans      &trans  &trans  &kp LS(RIGHT_BRACKET)  &kp LS(NON_US_HASH)  &kp LS(INT_YEN)  &trans
&trans                     &trans            &trans                &trans            &trans            &trans      &trans  &trans                                                               &trans
            >;

            sensor-bindings = <&sensor_rotate_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        layer_2 {
            bindings = <
&kp LS(SINGLE_QUOTE)  &kp N7  &kp N8  &kp N9  &kp LS(SEMICOLON)                                                     &trans      &kp F7  &kp F8  &kp F9  &kp F12
&kp SLASH             &kp N4  &kp N5  &kp N6  &kp MINUS          &kp LC(LA(KP_NUMBER_0))      &kp LS(SINGLE_QUOTE)  &kp PERIOD  &kp F4  &kp F5  &kp F6  &kp F11
&mt LEFT_SHIFT N0     &kp N1  &kp N2  &kp N3  &kp LS(MINUS)      &kp KP_MULTIPLY              &kp SLASH             &trans      &kp F1  &kp F2  &kp F3  &kp F10
&trans                &trans  &trans  &trans  &trans             &trans                       &trans                &trans                              &trans
            >;
        };

        ARROW {
            bindings = <
&kp PAGE_UP     &kp LC(LS(TAB))   &kp UP_ARROW          &kp LC(TAB)        &kp PAGE_DOWN                                   &kp LG(TAB)         &kp TAB           &kp LG(UP_ARROW)  &kp LS(TAB)        &trans
&kp HOME        &kp LEFT_ARROW    &kp DOWN_ARROW        &kp RIGHT_ARROW    &kp END        &trans      &kp LA(PRINTSCREEN)  &kp LG(LEFT_ARROW)  &kp LA(LEFT)      &kp LG(DOWN)      &kp LA(RIGHT)      &kp LG(RIGHT_ARROW)
&kp LEFT_SHIFT  &kp LS(LC(LEFT))  &kp LS(LC(UP_ARROW))  &kp LS(LC(RIGHT))  &trans         &trans      &kp LS(LG(S))        &trans              &kp LS(LG(LEFT))  &kp LA(F4)        &kp LS(LG(RIGHT))  &trans
&trans          &trans            &kp LS(LC(DOWN))      &trans             &trans         &trans      &kp BACKSPACE        &kp LEFT_ALT                                                               &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB1  &mkp MB3  &mkp MB2
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB4  &mkp MB4  &trans    &mkp MB5
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none   &none       &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans     &kp LC(W)  &trans     &trans     &trans                      &kp LC(Y)  &trans           &trans     &trans             &trans
&kp LC(A)  &trans     &trans     &kp LC(F)  &trans  &trans      &trans  &trans     &kp LC(RIGHT)    &kp LC(K)  &kp LC(LEFT)       &trans
&kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans  &trans      &trans  &kp LC(N)  &kp LC(PAGE_UP)  &trans     &kp LC(PAGE_DOWN)  &trans
&trans     &trans     &trans     &trans     &trans  &trans      &trans  &trans                                                    &trans
            >;
        };

        // --- 検証用：zip_no_mouseを外し、tb_webのみにする ---

        layer_8 {
            bindings = <
&none   &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &none   &none   &none   &none
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &none   &none   &trans  &none
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;

            trackball_listener {
                device = <&trackball>;
                input-processors = <&tb_web>; // シンプルにジェスチャーのみ
            };
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_10 {
            bindings = <
&trans  &kp LS(LC(NUMBER_7))  &kp LS(LC(NUMBER_8))  &kp LS(LC(NUMBER_9))  &trans                             &trans     &kp LC(R)  &kp LC(LS(R))  &kp LC(F)  &trans
&trans  &kp LS(LC(NUMBER_4))  &kp LS(LC(NUMBER_5))  &kp LS(LC(NUMBER_6))  &trans  &trans      &kp LA(S)      &trans     &kp LC(U)  &kp LC(Q)      &kp LC(E)  &trans
&trans  &kp LS(LC(NUMBER_1))  &kp LS(LC(NUMBER_2))  &kp LS(LC(NUMBER_3))  &trans  &trans      &trans         &kp LC(N)  &trans     &kp ESCAPE     &trans     &trans
&trans  &trans                &trans                &trans                &trans  &trans      &kp BACKSPACE  &trans                                          &trans
            >;
        };
    };
};
